
.dotted-background {
  background-color: white;
  background-image: radial-gradient(circle at center, #F2F2F2 1px, transparent 1px);
  background-size: 16px 16px;
}

.svg-hover {
  transition: transform 0.3s ease;
}

.svg-hover:hover {
  transform: scale(1.1);
}

